/*Robert - This is the style file for the PWA*/
html{
    background-color: rgb(80, 77, 77);  /*This is the background for the app page*/
    text-align: center;
    }

    /*Page Header Text*/
  h1{
    font-family: 'Brush Script MT', sans-serif  ; 
    font-size: 100px;
    color: rgb(233, 180, 6);
      -webkit-text-stroke-width: .3px;
      -webkit-text-stroke-color: whitesmoke;
  }
    /*Paragraph Text*/
  p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: black;
  }
    /*Body Background Color*/
  body{
    background-color: whitesmoke;
  }
