<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

<style>.window-height{
  height: 100vh;
}
body { background: #2fc57a !important;}</style>
    <title>Login Form</title>
  </head>
  <body>
  
   <div class="container-fluid">
       <div class="row justify-content-center align-items-center window-height">
           <div class="col-md-3">
             <form>
            <div class="card shadow">
                
                <div class="card-body">
                   <div class="text-center"> 
                  <img src="tracker.png" alt="tracker" height="150" width="250">
                  </div>

                         <div class="mt-4">
                        <div class="form-group">
                          <label for="exampleInputFirstNameJane" class="form-label">First Name</label>
                          <input type="first_name" class="form-control" id="exampleInputFirstNameJane" aria-describedby="emailHelp">
                          <div id="firstNameHelp" class="form-text"></div>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputLastNameDoe" class="form-label">Last Name</label>
                          <input type="last_name" class="form-control" id="exampleInputLastNameDoe" aria-describedby="emailHelp">
                          <div id="lastNameHelp" class="form-text"></div>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPhoneNumber1" class="form-label">Parent Phone Number</label>
                          <input type="phoneNumber" class="form-control" id="exampleInputPhoneNumber1">
                        </div>
                        </div>
                        
                       
                      
                </div>
                <div class="card-footer text-muted text-end">
                <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </form>
           </div>
       </div>
   
  </div> 
  </body>
</html>