html{
  background-color: #a5a58d;
  text-align: center;
}
h1{
  font-family:Brush Script MT, Arial, Heerlvetica, sans-sif;
  font-size: 60px;
  color: #cb997e;
	-webkit-text-stroke-width: .25px;
    -webkit-text-stroke-color: white;
}
p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  color: #ffe8d6;
	-webkit-text-stroke-width: .01px;
    -webkit-text-stroke-color: black;
    
}
body{
  background-color: #a5a58d;
}
a{
  color: white;
}
.content {
  padding: 0 18px;
  background-color: #b7b7a4;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  
}

button {
  background-color: #a5a58d; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.stopwatch {
  display: grid;
  justify-items: center;
  grid-row-gap: 23px;
  width: 100%;
  padding-top: 25px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 270px;
  width: 270px;

  border: 2px solid;
  border-radius: 50%;
}

.time {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 48px;
}

.gold {
  font-weight: 900;

  color: #f2c94c;
  text-shadow: 0 0 0px #fff, 0 0 50px #f2c94c;
}

.controls {
  display: flex;
  justify-content: space-between;

  width: 187px;
}

#playButton {
  display: block;
}

#pauseButton {
  display: none;
}